.Container-Home{
    width: 90%;
    margin-top: 2rem;
    margin-right: 1.3rem;
    float: right;
    h2{
        padding: 15px;
        font-size: 6rem;
        color: $main;
        font-family: Future;
    }
    hr{
        border-top: #121212 2px solid;
        // width: 90%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    h3{
        padding: 15px;
        font-size: 2rem;
        // font-weight: bold;
        color: $main;
        font-family: Future;

    }
    p{
        // width: 50%;
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }
    .flex{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    img{
        width: 50%;
        height: 40rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}