.footer{
    border-top: rgb(0, 145, 255)4px solid;
    height:13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 29, 29);
   .one{
        h2{
            text-align: center;
            font-size:3.5rem;
            color:$main;
            font-family: Future;
            text-decoration: none;
            margin-bottom: 1rem;
          
        }
   }
   .two{
        font-family: Future;
        color: $main;
   }
  }