.container-mfa, .container-admin{
    margin-bottom: 2rem;
    padding: 15px;
    h5{
        font-size: 1.3rem;
        margin-bottom: .6rem;
        font-family: Future;
        color: $main;
    }
    hr{
        width: 0%;
    }
    div{
        // width: 50%;
        padding: 5px;
    }
    p{
        margin: 1rem;
    }
}
.container-vpn{
     margin-bottom: 2rem;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    h5{
        color: $main;
        font-size: 1.3rem;
        font-family: Future;
    }
    p{
        width: 80%;
        margin-top: 1rem;
    }
    ul{
        margin-bottom: 2rem;
    }
    li{
        margin-top: .4rem;
        margin-left: 1rem;
        // margin-bottom: 2rem; 
    }

}

.dawg{
    color: $main;
    font-size: 2.4rem;
    font-family: Future;
}