.containerOverview{
    .flex4{
        display: flex;
        justify-content: space-evenly;
    }
    h4,h5{
        font-size: 1.3rem;
        font-weight: bolder;
    }
    img{
        width: 100%;
    }
}